body {
    background: #fff;
    padding: 20px;
}

.app {
    padding: 20px;
    background: #eee;
}

.main,
.sub,
.extra {
    float: left;
}

.main {
    position: relative;
}

.sub {
    width: 200px;
    margin-left: -100%;
    padding: 10px;
}

.extra {
    width: 120px;
    margin-left: -120px;
    padding: 10px;
}

.main__content {
    margin: 0 140px 0 220px;
}

.google__img {
    max-width: 80px;
    height: 80px;
}

.clearfix:after {
    display: block;
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.bd--gray {
    border: 1px solid #999;
}
.main__content,.sub,.extra {
    background: #fff;
}
/* 中间栏目 */

.main__content {
    padding: 20px;
}
.article__header {
    margin-bottom: 20px;
}
.main__content__article p {
    margin-top: 20px;
}
.main__content__article p:nth-last-of-type(n+2) {
    margin-bottom: 20px;
}

/* 左边栏目 */

.sub__team__logo {
    float: left;
}

.sub__team__name {
    margin-left: 80px;
    text-align: center;
}

.extra__persoal__logo {
    width: 80px;
    height: 80px;
}

.extra__persoal__logo:nth-last-of-type(n+2) {
    margin-bottom: 20px;
}