/* 公共样式 */

.header,
.footer {
    background-color: #000;
    padding: 5px 20px;
}

/* 头部导航栏 */

.header {
    height: 60px;
}

.header-logo {
    height: 50px;
    display: inline-block;
}

.header-nav {
    float: right;
    height: 50px;
}

.header-logo a {
    position: relative;
    display: inline-block;
}

img[alt="nav-logo"] {
    max-width: 120px;
    height: 50px;
}

.header-nav li {
    float: left;
    margin-left: 10px;
}

.header-nav a {
    text-decoration: none;
    line-height: 50px;
}

.nav-noactive {
    color: #eee;
}

.nav-active {
    color: rgb(236, 2, 2);
}

/* 主内容 */

.main-content {
    background-color: #dadada;
}

.card {
    padding: 10px 20px;
}

.main-content>div:first-child {
    padding-top: 20px;
}

/* 单个内容 */

.content-item {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0 20px 40px;
    box-shadow: 1px 1px 5px #7A7A7A;
}

.content-itemt-body {
    margin-top: 20px;
}

article {
    padding-top: 20px;
}

article p:nth-of-type(1) {
    margin-top: 10px;
}

h1 {
    font-size: 26px;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 10px;
}

h2 h3 {
    color: #eee;
}

.aritcle-img {
    display: block;
    height: 100px;
}

p {
    text-indent: 20px;
}

.list-project {
    margin-top: 20px;
    margin-left: 20px;
}

/* 图片列表 */

.beautiful-img-list {
    margin-left: 20px;
}

.beautiful-img-list li {
    margin-top: 20px;
}

.beautiful-img-list li>div {
    display: inline-block;
    border: 1px solid #dadada;
    padding: 10px;
}

.beautiful-img-list img {
    height: 200px;
    max-width: 100%;
}

.img-title {
    text-align: center;
    height: 20px;
    line-height: 20px;
}

/* 排名 */

.ol-list {
    margin-left: 20px;
    margin-bottom: 20px;
}

ol {
    list-style: decimal;
}

/* 表格 */

.content-table {
    width: 100%;
}

.content-table td {
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}

.content-table td {
    border: 1px solid #7A7A7A;
}

.content-table-thead {
    background-color: #000;
    color: #fff;
    text-align: left;
}

.content-table-thead th {
    border: 1px solid #000;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}

.content-table tfoot {
    background-color: #7A7A7A;
}

/* 侧栏标题 */

.content-item-sidetitle {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    border-left: 3px solid #7a7a7a;
    padding-left: 10px;
}

.content-item-form {
    padding: 24px;
}

.content-form-item {
    margin-bottom: 22px;
}

.form-item__label {
    width: 120px;
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}

.form-item__content {
    margin-left: 120px;
    line-height: 40px;
    position: relative;
    font-size: 14px;
}

.form-item__input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
}

.form-item-group {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.form-item__textarea {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

.textarea__inner {
    min-height: 33px;
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.textarea__inner:focus {
    outline: none;
    border-color: #409eff;
}

.form-item__btn {
    width: 100%;
    background-color: #394ACE;
    outline: none;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #394ACE;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.footer-content {
    text-align: center;
    color: #fff;
    padding: 15px 0;
}