.cleafix:after{
    display: block;
    clear: both;
    content: '';
    height: 0;
    visibility: hidden;
}

.cleafix:after {
    *zoom: 1;
}
.nav,
.footer {
    background: #000;
    padding: 0 20px;
    height: 55px;
    color: #fff;
}

/* 顶部导航栏 */

.nav {
    position: relative;
}

/* 顶部导航栏logo */

.nav__logo {
    position: relative;
    height: 55px;
    display: inline-block;
}

.nav__logo__img {
    height: 30px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    top: 50%;
    position: absolute;
    left: 0%;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

/* 导航链接 */

.nav__link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    height: 55px;
    text-align: center;
    line-height: 55px;
}

.nav__link li {
    float: left;
    padding-left: 20px;
    font-size: 12px;
    cursor: pointer;
}

.nav__link--active {
    color: #dadada;
}

/* 主体内容 */

.content {
    padding: 0 20px;
    background: #dadada;
    padding: 20px;
}

.content-item {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 5px #7A7A7A;
}

.content>div:nth-of-type(n+2) {
    margin-top: 20px;
}

/* 文章 */

.content__article {
    padding: 30px 20px;
}

.content__article__h1 {
    font-weight: 800;
    font-size: 28px;
}

.content__article__h2 {
    margin-top: 10px;
    color: #a4a1a1;
    font-size: 18px;
}

.content__article__h3 {
    font-size: 14px;
    margin-top: 10px;
    color: #a9a9a9;
}

.content__article__pbtime {
    margin-left: 10px;
}

.content__article__img {
    display: block;
    margin: 10px 0;
}

.content__article_paragraph {
    text-indent: 28px;
    margin-top: 20px;
}

.content__article__list {
    margin: 20px 0 0 20px
}

.content__article__imglist {
    margin-top: 20px;
    margin-left: 20px;
}

.content__article_imglist__item {
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px;
}

.content__article__imglist__img {
    margin-top: 5px;
}

.content__article__imglist>li:nth-of-type(n+2) {
    margin-top: 10px;
}

.content__article__rank {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    list-style: decimal;
}

.content__article__rank>li {
    margin-top: 5px;
}

.content__article__table {
    width: 100%;
}

.content__article__table>thead>tr>th {
    background: #000;
    color: #fff;
    text-align: left;
    padding: 5px;
}

.content__article__table>thead>tr>th:nth-last-of-type(n-1) {
    border-right: 1px solid #fff;
}

.content__article__table>tbody>tr>td,
.content__article__table>tfoot>tr>td {
    border: 1px solid #eee;
}

.content__article__table>tfoot>tr>td {
    background: #eee;
    font-weight: 600;
}

.content__article__header--side {
    border-left: 3px solid #7A7A7A;
    padding: 10px 0 10px 10px;
}

/* 表单 */

.content__article__form {
    width: 800px;
    margin: 0 auto;
}
.form__item {
    margin-bottom: 20px;
}
.form__item__label {
    text-align: right;
    float: left;
    font-size: 14px;
    color: #606266;
    padding: 0 12px 0 0 ;
    width: 120px;
    vertical-align: middle;
    line-height: 40px;
}
.form__item__content {
    margin-left: 120px;
    width: 100%;
}
.form__item__input {
    display: inline-block;
}
.input__inner {
    padding: 0 15px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    height: 40px;
    line-height: 40px;
    outline: none;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.input__inner:focus {
    outline: none;
    border-color: #409eff;
}
.form__itemt_errofinfo {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 5px;
}
.form__item__radio {
    line-height: 40px;
}
.form__item__radio>label,.form__item__checkbox>label{
    cursor: pointer;
}
.form__item__select {
    line-height: 40px;
}
.form__item__checkbox {
    line-height: 40px;
}
.textarea__inner {
    min-height: 30px;
    border-color: #f56c6c;
    padding: 5px 15px;
    line-height: 1.5;
    width: 500px;
}
.form__confirm__btn {
    display: block;
    width: 100%;
    background: #409eff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.footer{
    text-align: center;
    line-height: 55px;
}
